.checkbox {
  display: inline-flex;
  align-items: flex-start;

  &:hover &__mark {
    border-color: #ecd031;
  }

  input {
    display: none;

    &:checked ~ .checkbox__mark {
      border-color: #ecd031;
    }

    &:checked ~ .checkbox__mark::after {
      opacity: 1;
    }
  }

  &__mark {
    position: relative;
    display: block;

    flex-shrink: 0;

    width: 21px;
    height: 21px;

    margin-top: 5px;
    margin-right: 10px;

    border: 1px solid #b9b9b9;
    border-radius: $border-radius--medium;

    transition: all 0.15s ease;
    cursor: pointer;

    &::after {
      content: url("../img/icons/misc/check.svg");
      position: absolute;
      top: 50%;
      left: 60%;

      display: block;
      width: 24px;
      height: 24px;

      opacity: 0;

      transform: translate(-50%, -50%);
      transition: opacity 0.15s ease;
    }
  }

  &__label {
    margin-top: 2px;

    font-size: $text-size--small;
    line-height: 150%;

    transition: color 0.15s ease;

    @include breakpoint($breakpoint-mobile--medium) {
      font-size: $text-size--small - 2;
    }
  }

  &__policy {
    color: $text-gray;
    text-decoration: underline;

    transition: color 0.15s ease;

    &:hover {
      color: $text-yellow;
    }
  }
}
