// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$input__background: #fafafa;
$input__border: #eeeeee;
$input__border--focus: $palette-yellow;
$input__border--error: #ff8282;

@import "input";
@import "checkbox";
