/* purgecss start ignore */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar__bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar__contoller;
    border-radius: $border-radius--large;
  }

  &--wide {
    &::-webkit-scrollbar {
      width: 16px;
      height: 12px;
    }
  }
}

/* purgecss end ignore */
