// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  // width: 100%;
  padding: 20px 0;

  background-color: $section-primary;
  box-shadow: $shadow-primary;

  @include breakpoint($breakpoint-mobile--large) {
    padding: 10px 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($breakpoint-mobile--large) {
    justify-content: space-between;
  }

  &__logo {
  }

  &__nav {
    margin: 0 auto;
  }

  &__callback {
    display: flex;
    align-items: center;

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__phone {
    font-size: $text-size--large;

    @include breakpoint($breakpoint-mobile--large) {
      font-weight: $weight-Medium;
    }
  }

  &__mobile {
    display: none;

    @include breakpoint($breakpoint-mobile--large) {
      display: block;
    }
  }
}
