.nav {
  display: block;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
  }

  &__link {
    display: block;
    font-size: $text-size--large;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $text-size--medium;
    }
  }

  &--header {
    @include breakpoint($breakpoint-laptop--medium) {
      display: none;
    }

    .nav__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    .nav__link {
      padding: 5px 0;
      font-size: $text-size--large;
    }
  }

  &--mobile {
    .nav__list {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav__item--small {
      .nav__link {
        font-size: $text-size--medium;
        color: $text-gray;
      }
    }

    .nav__link {
      font-size: $text-size--large;
    }
  }

  &--section {
    .nav__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &--footer {
    .nav__list {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav__link {
      font-size: $text-size--large;
      color: $text-gray;

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $text-size--medium;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: $text-size--small;
      }
    }
  }
}
