.page {
  &__title {
    font-size: $heading-size--large;
    font-weight: $weight-Bold;
    line-height: 120%;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $heading-size--large - 4;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $heading-size--small;
    }

    @include breakpoint($breakpoint-mobile) {
      font-size: $heading-size--small - 3;
    }
  }
}
