.card {
  position: relative;
  box-shadow: $shadow-primary;
  overflow: hidden;

  border-radius: $border-radius--medium;
  background-color: #ffffff;

  @media (hover: hover) {
    &:hover {
      .card__image {
        transform: scale(1.05);
      }

      .card__link {
        color: $palette-yellow;

        .link__arrow {
          transform: translateX(5px);

          path {
            fill: $palette-yellow;
          }
        }
      }
    }
  }

  &__picture {
    height: 210px;
    overflow: hidden;

    @include breakpoint($breakpoint-laptop--medium) {
      height: 170px;
    }
  }

  &__image {
  }

  &__content {
    padding: 15px;
  }

  &__title {
    font-weight: $weight-Medium;
    font-size: $text-size--large;
  }

  &__link {
    color: $text-gray;
  }
}
