// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

html {
  font-size: 16px;
}

body {
  font-family: Rubik, sans-serif;
  font-variant-numeric: tabular-nums;
  line-height: 180%;

  color: $text-black;

  @include breakpoint($breakpoint-mobile--large) {
    line-height: 160%;
  }
}

p {
  font-size: $text-size--medium;

  @include breakpoint($breakpoint-mobile--large) {
    font-size: $text-size--small;
  }
}
