#calculator {
  margin-top: -120px;
  padding-top: 120px;

  @include breakpoint($breakpoint-mobile--large) {
    margin-top: -90px;
    padding-top: 90px;
  }
}

#calculator-small {
  .calculator__body {
    border-bottom: none;
  }
}

.calculator {
  padding: 45px;
  border-radius: $border-radius--large;
  box-shadow: $shadow-primary;

  @include breakpoint($breakpoint-mobile--large) {
    padding: 15px;
    border-radius: $border-radius--medium;
  }

  .form__button {
    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
    }
  }

  &__header {
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 25px;
  }

  &__body {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #f3f3f3;
  }

  &__footer {
    padding-top: 25px;
  }

  &__slider {
    padding: 2px;
  }

  &__control {
    display: flex;
    align-items: center;

    @include breakpoint($breakpoint-mobile--large) {
      flex-direction: column-reverse;

      .button {
        width: 100%;
      }
    }
  }

  &__info {
    color: $text-gray;
    font-size: $text-size--small;

    line-height: 160%;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 12px;

      br {
        display: none;
      }
    }
  }

  &__prev {
    margin-left: auto;
  }

  &__next {
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__additional {
    display: flex;
    align-items: center;
  }

  &__border {
    border-right: 2px solid #f3f3f3;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    padding-bottom: 10px;

    border-bottom: 1px solid #f3f3f3;

    font-weight: $weight-Regular;
    font-size: $text-size--large;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $text-size--medium;
    }
  }

  &__link {
    font-size: $text-size--small;
    color: $text-gray;
  }

  &__preview {
    margin: 20px auto 0 auto;

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__group {
    display: flex;
    margin-top: -10px;

    color: $text-gray;
    overflow: auto;

    @include breakpoint($breakpoint-mobile--large) {
      padding-bottom: 10px;
    }
  }

  &__value {
    position: relative;

    flex-shrink: 0;

    text-overflow: ellipsis;
    overflow: hidden;

    font-size: $text-size--small;
    cursor: pointer;

    transition: $transition__text;

    input[type="radio"] {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }

    img,
    &::after {
      border-radius: $border-radius--medium;
      border: 1px solid #dcdcdc;

      transition: $transition__icon;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    @media (hover: hover) {
      &:not(&--active):hover {
        &::after,
        img {
          transform: scale(0.925);
        }
      }
    }

    &--image {
      padding: 1px;

      img {
        width: 100px;
        height: 100px;

        @include breakpoint($breakpoint-mobile--large) {
          width: 70px;
          height: 70px;
        }
      }
    }

    &--active {
      color: $palette-yellow;

      &::after,
      img {
        border-color: $palette-yellow;
        transform: scale(0.925);
      }
    }
  }

  &__image {
    display: block;

    object-fit: contain;
  }

  &__color {
    width: 60px;

    @include breakpoint($breakpoint-mobile--large) {
      width: 45px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 60px;

      @include breakpoint($breakpoint-mobile--large) {
        height: 45px;
      }
    }

    &--white::after {
      background-color: #ffffff;
    }

    &--brown::after {
      background-color: #704814;
    }

    &--RAL::after {
      background-color: #ffbc42;
      background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    }
  }
}
