// Цветовая палитра сайта
$palette-yellow: #ecd031;

// Цветовая палитра блоков
$section-primary: #ffffff;
$section-secondary: #f9fcff;

// Цветовая палитра текста
$text-black: #272727;
$text-gray: #969696;
$text-white: #ffffff;
$text-yellow: #ecd031;
