// Толщина шрифта
$weight-Thin: 100;
$weight-ExtraLight: 200;
$weight-Light: 300;
$weight-Regular: 400;
$weight-Medium: 500;
$weight-SemiBold: 600;
$weight-Bold: 700;
$weight-ExtraBold: 800;
$weight-Black: 900;

// Размеры шрифта
$heading-size--large: 36px;
$heading-size--medium: 28px;
$heading-size--small: 24px;

$text-size--large: 18px;
$text-size--medium: 16px;
$text-size--small: 14px;

// Межстрочные расстояния
$line-height-main: 150%;
