// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#map {

}

.map {
  &__wrapper {
    height: 100%;

    overflow: hidden;
    border-radius: $border-radius--medium;

    box-shadow: $shadow-primary;

    @include breakpoint($breakpoint-mobile--large) {
      height: 210px;
      margin-bottom: 20px;
    }
  }
}