#home {
  #production {
  }

  .production {
    &__item {
      position: relative;
      overflow: hidden;

      border-radius: $border-radius--medium;
      box-shadow: $shadow-primary;

      @media (hover: hover) {
        &:hover {
          .production__image {
            transform: scale(1.025);
          }

          .production__link {
            color: $palette-yellow;

            .link__arrow {
              transform: translateX(5px);

              path {
                fill: $palette-yellow;
              }
            }
          }
        }
      }
    }

    &__picture {
      height: 300px;
      overflow: hidden;

      @include breakpoint($breakpoint-laptop--medium) {
        height: 240px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        height: 170px;
      }
    }

    &__image {
    }

    &__content {
      @include breakpoint($breakpoint-mobile--large) {
        padding: 15px 10px 5px;
      }

      width: 100%;

      padding: 15px;

      background: $section-primary;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include breakpoint($breakpoint-mobile--large) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__title {
      font-weight: $weight-Medium;
      font-size: $heading-size--small - 3;

      @include breakpoint($breakpoint-mobile--large) {
        font-size: $text-size--large;
      }
    }

    &__link {
      @include breakpoint($breakpoint-mobile--large) {
        margin-top: 10px;
      }

      color: $text-gray;
    }

    &__description {
    }
  }
}
