.table {
  width: 100%;

  &--calculator {
    tbody {
      td {
        @include first-child() {
          width: 50%;
          font-weight: $weight-Medium;
        }

        &:nth-child(2) {
          width: 30%;
        }

        @include last-child() {
          width: 20%;
        }
      }
    }
  }

  &__tooltip {

  }

  &__help {
    display: inline-block;
    vertical-align: middle;

    margin-bottom: 3px;

    width: 18px;
    cursor: help;
  }

  th {
    text-align: left;
    font-weight: $weight-Bold;
  }

  td,
  th {
    padding: 8px 12px;

    @include breakpoint($breakpoint-mobile--large) {
      padding: 4px 8px;
    }
  }
}

table {
  border-collapse: collapse;
}

tr,
th,
td {
  border: $table-border;

  @include breakpoint($breakpoint-mobile--large) {
    font-size: $text-size--small;
  }
}
