.slider-useful {
  @include breakpoint($breakpoint-mobile--large) {
    overflow: initial;
  }

  .swiper-slide {
    height: initial;

    @include breakpoint($breakpoint-mobile--large) {
      width: 90%;
    }
  }
}
