#catalog {
  padding: 65px 0;
  box-shadow: $shadow-primary;

  @include breakpoint($breakpoint-mobile--large) {
    margin-top: -30px;
  }
}

.catalog {
  &__picture {
    position: relative;
    height: 320px;

    overflow: hidden;
    border-radius: $border-radius--medium;

    @include breakpoint($breakpoint-mobile--large) {
      height: 230px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: $weight-Medium;
    font-size: $heading-size--medium;
    line-height: 140%;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $heading-size--small - 3;
      br {
        display: none;
      }
    }
  }

  &__description {
    margin-bottom: 25px;
    font-size: $text-size--large;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $text-size--medium;
    }
  }

  .button {
    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
    }
  }
}
