$link__hover: $palette-yellow;

.link {
  transition: $transition__text;

  &__arrow {
    @include breakpoint($breakpoint-mobile--large) {
      width: 12px;
      height: 12px;
    }
  }

  &--nav {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: $link__hover;
      }
    }
  }

  &--contact {
    @media (hover: hover) {
      &:hover {
        color: $link__hover;
      }
    }
  }

  &--arrow {
    display: flex;
    align-items: center;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $text-size--small;
    }

    @media (hover: hover) {
      &:hover {
        .link__arrow {
          transform: translateX(5px);

          path {
            fill: $palette-yellow;
          }
        }
      }
    }
  }
}
