$link__hover: $palette-yellow;

.link {
  transition: $transition__text;

  &--nav {
    @media (hover: hover) {
      &:hover {
        color: $link__hover;
      }
    }
  }

  &--contact {
    @media (hover: hover) {
      &:hover {
        color: $link__hover;
      }
    }
  }

  &--arrow {
    display: flex;
    align-items: center;

    @media (hover: hover) {
      &:hover {
        .link__arrow {
          transform: translateX(5px);

          path {
            fill: $palette-yellow;
          }
        }
      }
    }
  }
}
