#article {
  @include breakpoint($breakpoint-mobile--large) {
    padding-top: 30px;
  }

  padding-top: 60px;
}

.article {
  max-width: 900px;
  margin: 0 auto;

  &__header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    border-radius: $border-radius--large;
  }
}
