#portfolio-compact {
  .portfolio {
    &__menu {
      width: 100%;
      height: 100%;

      border-radius: $border-radius--medium;
      padding: 10px 10px 10px 0;

      box-shadow: $shadow-primary;

      @include breakpoint($breakpoint-laptop--large) {
      }
    }

    &__category,
    &__list {
      padding: 10px 15px 5px 15px;
    }

    &__category,
    &__subcategory {
      cursor: pointer;
      transition: $transition__text;

      @media (hover: hover) {
        &:hover {
          color: $text-yellow;
        }
      }
    }

    &__category {
      font-size: 18px;

      &:not(:last-child) {
        border-bottom: 1px solid #f3f3f3;
      }
    }

    &__subcategory {
      color: $text-gray;
    }

    &__wrapper {
      max-height: 465px;
      overflow: auto;

      padding-right: 10px;
    }

    &__highlight {
      color: $text-yellow;
    }

    &__picture {
      height: 230px;

      border-radius: $border-radius--medium;
      overflow: hidden;

      @media (hover: hover) {
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
    }

    &__image {
      transition: $transition__image;
    }
  }
}
