.list {
  &__item {
    font-size: $text-size--large;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $text-size--small;
      line-height: 130%;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &--mark {
    .list__item {
      &::before {
        content: url("../img/icons/misc/check.svg");
        display: inline-block;
        width: 21px;
        height: 21px;

        margin-right: 10px;

        @include breakpoint($breakpoint-mobile--large) {
          display: none;
        }
      }
    }
  }
}
