#callback {
  padding: 65px 0;
  box-shadow: $shadow-primary;

  @include breakpoint($breakpoint-mobile--large) {
    padding: 35px 0;
  }
}

.callback {
  .link--contact {
    display: inline-block;
    margin: 5px 0 15px 0;

    font-size: $heading-size--small;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $text-size--large;
    }
  }

  &__picture {
    height: 320px;
    overflow: hidden;
    border-radius: $border-radius--medium;

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }
}
