$margin: 30px;

.section {
  &:not(:last-child) {
    margin-bottom: 90px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: $margin;

    @include breakpoint($breakpoint-mobile--large) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .section__title {
      margin-bottom: 0;
    }

    .link {
      color: $text-gray;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-size: $heading-size--medium;
    font-weight: $weight-Medium;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $heading-size--small;
    }

    span {
      color: $text-yellow;
    }
  }

  &__description {
    margin-bottom: $margin;

    font-size: $text-size--large;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $text-size--medium;
    }
  }
}
