.section {
  &:not(:last-child) {
    margin-bottom: 90px;
  }

  &__title {
    margin-bottom: 30px;

    font-size: $heading-size--medium;
    font-weight: $weight-Medium;
  }

  &__description {
    margin-bottom: 30px;

    font-size: $text-size--large;
  }
}