.button {
  min-width: 180px;

  outline: none;
  border: none;

  padding: 13px 30px;

  background-color: transparent;
  border-radius: $border-radius--medium;

  cursor: pointer;
  transition: 0.15s ease;

  white-space: nowrap;
  font-size: $text-size--large;

  @include breakpoint($breakpoint-laptop--large) {
    font-size: $text-size--medium;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}