// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$button-outline__border: 2px solid $palette-yellow;
$button-outline__hover: $palette-yellow;

$button-primary__bg: $palette-yellow;
$button-primary__bg--hover: lighter($palette-yellow, 10%);

@import "button";
@import "outline";
@import "primary";

