#constuction {
}

.constuction {
  .swiper__control {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;

    padding: 15px;
    border-radius: $border-radius--large;

    box-shadow: $shadow-primary;

    @include breakpoint($breakpoint-mobile--large) {
      flex-direction: column;
    }
  }

  &__picture {
    flex-shrink: 0;
    width: 100%;
    max-width: 140px;

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
      width: 100%;
      max-width: 140px;

      margin: 0 auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    padding: 10px 20px;

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
      padding: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__help {
    display: none;

    width: 18px;
    margin-left: 10px;

    @include breakpoint($breakpoint-mobile--large) {
      display: block;
    }
  }

  &__name {
    font-size: $heading-size--small - 3;
    font-weight: $weight-Medium;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $text-size--medium;
    }
  }

  &__price {
    display: block;
    margin-bottom: 10px;

    color: $text-gray;
    font-size: $text-size--small;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 15px;

      font-size: $text-size--small;
      line-height: 180%;
    }
  }

  &__action {
    margin-top: auto;
  }

  &__link {
    font-size: $text-size--small;
    color: $text-gray;
  }
}
