#catalog {
  #hero {
  }

  .hero {
    &__background {
      width: 100%;
      height: 295px;

      border-bottom-right-radius: $border-radius--large;
      border-bottom-left-radius: $border-radius--large;

      overflow: hidden;

      @include breakpoint($breakpoint-mobile--large) {
        height: 200px;
      }
    }

    &__image {}

    &__content {
      margin-top: 30px;
    }
  }
}
