#material {
}

.material {
  .swiper__control {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__item {
    padding: 15px;
    border-radius: $border-radius--large;
    box-shadow: $shadow-primary;
  }

  &__picture {
    width: 100%;

    @include breakpoint($breakpoint-mobile--large) {
      max-width: 180px;
      margin: 0 auto;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
  }

  &__name {
    font-size: $heading-size--small - 3;
    font-weight: $weight-Medium;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $text-size--large;
    }
  }

  &__price {
    color: $text-gray;
    font-size: $text-size--small;
  }

  &__help {
    width: 20px;
    cursor: help;
  }
}
